.main_production {
  .main_production__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #333333;
    margin: 0 auto 57px 90px;
    width: 438px;
    position: relative;
    &::before {
      position: absolute;
      left: -90px;
      bottom: -85%;
      content: "";
      width: 23px;
      height: 251px;
      background: #da5c3e;
    }
  }

  .main_production__image_block {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 40px;
    margin: auto 121px auto 92px;
    list-style: none;
    padding: 0;
    .main_production__image {
      position: relative;
      img {
        width: 100%;
      }
    }

    .main_production__image_title {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      text-decoration-line: underline;
      color: #333333;
      margin: 32px auto 0;
    }
    .main_production__image_description {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #4f4f4f;
      margin: 11px auto 21px 0;
      width: 100%;
      height: 54px;
    }
    .main_production__image_price {
      margin: 0 auto 82px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #333333;
      position: relative;
      &::after {
        position: absolute;
        content: url("../../../assets/price-arrow.svg");
        left: 30%;
        top: 0;
      }
    }
  }
}
.main_classic {
  @extend .main_production;
  .main_production__title {
    &::before {
      top: 50%;
      width: 63px;
      height: 3px;
    }
  }
  .main_production__image_block {
    grid-template-columns: auto auto;
    column-gap: 73px;
    li {
      width: fit-content;
      .main_production__image {
        position: relative;
      }
      .main_production__image_description {
        height: auto;
      }
      .main_production__image_price {
        &::after {
          display: none;
        }
        span {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #da5c3e;
          a {
            color: inherit;
            text-decoration-line: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.main_peak {
  @extend .main_classic;
  .main_production__title {
    margin-bottom: 0;
  }
  .main_production__title_subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4f4f4f;
    margin: 20px auto 57px 90px;
  }
  .main_production__image_block {
    grid-template-columns: auto auto;
    column-gap: 42px;
    margin: auto 0;
  }
  .main_round__params_block {
    display: none;
  }
  .main_production__params_block {
    display: grid;
    grid-template-columns: repeat(2, 559px);
    column-gap: 42px;
    margin: 61px 180px 71px 90px;
    color: #4f4f4f;
    position: relative;
    .main_production__params_cost_block {
      display: flex;
      flex-direction: column;
      .main_production__params_cost {
        display: flex;
        width: 426px;
        justify-content: space-between;
        margin: 0 auto 61px 0;
        .main_production__cost {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          line-height: 20px;
          color: #333333;
          h5 {
            margin: 0;
            font-weight: 600;
          }
          p {
            font-weight: 400;
            margin: 0 0 10px 0;
          }
          h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            margin: 0;
          }
        }
      }
      .main_production__params_price {
        width: 518px;
        font-size: 16px;
        line-height: 19px;
        margin: 0 auto 44px 0;
        p {
          margin: 0;
          span {
            text-decoration: dashed underline;
          }
        }
      }
      .main_production__params_new {
        width: 308px;
        font-size: 18px;
        line-height: 22px;
        color: #da5c3e;
        margin: 0 auto 48px 109px;

        p {
          margin: 0;
          position: relative;
          span {
            font-weight: 600;
          }
          &::before {
            position: absolute;
            content: url("../../../assets/cone.svg");
            left: -111px;
            top: -15px;
          }
        }
      }
      .main_production__params_text {
        display: flex;
        flex-direction: column;
        width: 518px;
        height: 171px;
        justify-content: space-between;
        margin: 0 auto 40px 0;
        font-size: 16px;
        line-height: 19px;
        color: #4f4f4f;
        p {
          margin: 0;
        }
      }
      .main_production__params_service {
        margin: 0 0 0 109px;
        position: relative;
        width: 180px;
        &::before {
          position: absolute;
          content: url("../../../assets/manipulator.svg");
          left: -111px;
          top: -10px;
        }
        a {
          font-size: 16px;
          line-height: 19px;
          color: #333333;
        }
      }
      .main_production__params_technology {
        display: none;
      }
    }
    .main_production__params_nav_block {
      display: flex;
      flex-direction: column;
      .main_production__params_nav_button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 469px;
        margin: 0 0 52px 0;
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          text-decoration-line: underline;
          color: #da5c3e;
          position: relative;
          &::before {
            position: absolute;
            content: url("../../../assets/questionmark.svg");
            left: -48px;
            top: -5px;
          }
        }
      }
      .main_production__params_nav_changes {
        font-size: 21px;
        line-height: 25px;
        width: 359px;
        color: #333333;
        margin: 0 0 38px 0;
        p {
          margin: 0;
        }
      }
      .main_production__params_nav_menu {
        display: flex;
        flex-direction: column;
        h4 {
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          color: #333333;
          margin: 0 0 22px 0;
        }
        a {
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;

          color: #da5c3e;
          margin: 0 0 20px 0;
          &:nth-child(5):not(:only-child) {
            display: none;
          }
        }
      }
    }
  }
}

.main_lira {
  @extend .main_peak;
  .main_production__title {
    width: 600px;
  }
  .main_production__params_block {
    .main_production__params_cost_block {
      .main_production__params_new {
        display: none;
      }
      .main_production__params_price {
        margin-bottom: 30px;
      }
      .main_production__params_text {
        height: fit-content;

        p {
          &:nth-child(2):not(:only-child) {
            display: none;
          }
          &:last-child:not(:only-child) {
            display: none;
          }
        }
      }
      .main_production__params_service {
        margin-bottom: 48px;
      }
      .main_production__params_technology {
        display: block;
        margin: 0;
        width: 460px;
        font-size: 21px;
        line-height: 25px;
        span {
          font-weight: 600;
        }
      }
    }
    .main_production__params_nav_block {
      .main_production__params_nav_button {
        margin-bottom: 60px;
      }

      .main_production__params_nav_changes {
        display: none;
      }
      .main_production__params_nav_menu {
        a {
          //   &:nth-child(4):not(:only-child) {
          //     display: block;
          //   }
          &:nth-child(5):not(:only-child) {
            display: block;
          }
        }
      }
    }
  }
}

.main_round {
  @extend .main_lira;
  .main_production__title {
    width: fit-content;
  }
  .main_production__params_block {
    display: none;
  }
  .main_round__params_block {
    @extend .main_production__params_block;
    display: grid;
    .main_production__params_cost_block {
      .main_production__params_text {
        height: 152px;
        p {
          &:nth-child(2):not(:only-child),
          &:last-child:not(:only-child) {
            display: block;
          }
        }
      }
    }
    .main_production__params_nav_block {
      .main_production__params_nav_changes {
        display: block;
      }
    }
  }
}
