@import "../../vars";
.main {
  width: 1340px;
  margin: auto;
  font-family: $font;
  font-style: $fontStyle;
  position: relative;

  .main_top__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #828282;
    margin: 15px auto 8px 90px;
  }
  //   .main_title {
  //     width: 661px;
  //     font-weight: 600;
  //     font-size: 36px;
  //     line-height: 45px;
  //     color: #333333;
  //     margin: 0 auto 39px 90px;
  //     position: relative;
  //     &::before {
  //       position: absolute;
  //       left: -90px;
  //       top: 50%;
  //       content: "";
  //       width: 63px;
  //       height: 3px;
  //       background: #da5c3e;
  //     }
  //   }
  .main_production {
    .main_production__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      color: #333333;
      margin: 0 auto 57px 90px;
      width: 438px;
      position: relative;
      &::before {
        position: absolute;
        left: -90px;
        bottom: -85%;
        content: "";
        width: 23px;
        height: 251px;
        background: #da5c3e;
      }
    }

    .main_production__image_block {
      display: grid;
      grid-template-columns: repeat(3, 360px);
      column-gap: 40px;
      margin: auto 121px auto 92px;
      list-style: none;
      padding: 0;
      .main_production__image {
        position: relative;
        img {
          width: 100%;
        }
      }

      .main_production__image_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        text-decoration-line: underline;
        color: #333333;
        margin: 32px auto 0;
      }
      .main_production__image_description {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4f4f4f;
        margin: 11px auto 21px 0;
        width: 100%;
        height: 54px;
      }
      .main_production__image_price {
        margin: 0 auto 82px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        position: relative;
        &::after {
          position: absolute;
          content: url("../../assets/price-arrow.svg");
          left: 30%;
          top: 0;
        }
      }
    }
  }
  .main_classic {
    @extend .main_production;
    .main_production__title {
      &::before {
        top: 50%;
        width: 63px;
        height: 3px;
      }
    }
    .main_production__image_block {
      grid-template-columns: auto auto;
      column-gap: 73px;
      li {
        width: fit-content;
        .main_production__image {
          position: relative;
        }
        .main_production__image_description {
          height: auto;
        }
        .main_production__image_price {
          &::after {
            display: none;
          }
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #da5c3e;
            a {
              color: inherit;
              text-decoration-line: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .main_technology {
    margin: 80px 90px 64px 91px;
    &__title {
      margin: 0;
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      width: 530px;
    }
    &__list {
      margin: 47px 0 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: (1, auto);
      row-gap: 47px;
      &_item {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        &_text_block {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          // width: 527px;
          margin: 107px auto auto 80px;
          color: #333333;
          .main_technology__list_item_title {
            position: relative;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 15px 0;
            &::before {
              position: absolute;
              content: url("../../assets/arrow-technology.svg");
              top: 0;
              left: -172px;
            }
          }
          .main_technology__list_item_description {
            font-size: 16px;
            line-height: 22px;
            margin: 0;
            color: #4f4f4f;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .main_technology__list_item_text {
              margin: 0 0 25px 0;
              &:last-child:not(:only-child) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  // .main_peak {
  //   @extend .main_classic;
  //   .main_production__title {
  //     margin-bottom: 0;
  //   }
  //   .main_production__title_subtitle {
  //     font-weight: 400;
  //     font-size: 18px;
  //     line-height: 22px;
  //     color: #4f4f4f;
  //     margin: 20px auto 57px 90px;
  //   }
  //   .main_production__image_block {
  //     grid-template-columns: auto auto;
  //     column-gap: 42px;
  //     margin: auto 0;
  //   }
  //   .main_production__params_block {
  //     display: grid;
  //     grid-template-columns: repeat(2, 559px);
  //     column-gap: 42px;
  //     margin: 61px 180px 71px 90px;
  //     color: #4f4f4f;
  //     .main_production__params_cost_block {
  //       display: flex;
  //       flex-direction: column;
  //       .main_production__params_cost {
  //         display: flex;
  //         width: 426px;
  //         justify-content: space-between;
  //         margin: 0 auto 61px 0;
  //         .main_production__cost {
  //           display: flex;
  //           flex-direction: column;
  //           font-size: 16px;
  //           line-height: 20px;
  //           color: #333333;
  //           h5 {
  //             margin: 0;
  //             font-weight: 600;
  //           }
  //           p {
  //             font-weight: 400;
  //             margin: 0 0 10px 0;
  //           }
  //           h4 {
  //             font-weight: 600;
  //             font-size: 18px;
  //             line-height: 23px;
  //             margin: 0;
  //           }
  //         }
  //       }
  //       .main_production__params_price {
  //         width: 518px;
  //         font-size: 16px;
  //         line-height: 19px;
  //         margin: 0 auto 44px 0;
  //         p {
  //           margin: 0;
  //           span {
  //             text-decoration: dashed underline;
  //           }
  //         }
  //       }
  //       .main_production__params_new {
  //         width: 308px;
  //         font-size: 18px;
  //         line-height: 22px;
  //         color: #da5c3e;
  //         margin: 0 auto 48px 109px;

  //         p {
  //           margin: 0;
  //           position: relative;
  //           span {
  //             font-weight: 600;
  //           }
  //           &::before {
  //             position: absolute;
  //             content: url("../../assets/cone.svg");
  //             left: -111px;
  //             top: -15px;
  //           }
  //         }
  //       }
  //       .main_production__params_text {
  //         display: flex;
  //         flex-direction: column;
  //         width: 518px;
  //         height: 171px;
  //         justify-content: space-between;
  //         margin: 0 auto 40px 0;
  //         font-size: 16px;
  //         line-height: 19px;
  //         color: #4f4f4f;
  //         p {
  //           margin: 0;
  //         }
  //       }
  //       .main_production__params_service {
  //         margin: 0 0 0 109px;
  //         position: relative;
  //         width: 180px;
  //         &::before {
  //           position: absolute;
  //           content: url("../../assets/manipulator.svg");
  //           left: -111px;
  //           top: -10px;
  //         }
  //         a {
  //           font-size: 16px;
  //           line-height: 19px;
  //           color: #333333;
  //         }
  //       }
  //     }
  //     .main_production__params_nav_block {
  //       display: flex;
  //       flex-direction: column;
  //       .main_production__params_nav_button {
  //         display: flex;
  //         justify-content: space-between;
  //         align-items: center;
  //         width: 469px;
  //         margin: 0 0 52px 0;
  //         a {
  //           font-weight: 400;
  //           font-size: 18px;
  //           line-height: 22px;
  //           text-decoration-line: underline;
  //           color: #da5c3e;
  //           position: relative;
  //           &::before {
  //             position: absolute;
  //             content: url("../../assets/questionmark.svg");
  //             left: -48px;
  //             top: -5px;
  //           }
  //         }
  //       }
  //       .main_production__params_nav_changes {
  //         font-size: 21px;
  //         line-height: 25px;
  //         width: 359px;
  //         color: #333333;
  //         margin: 0 0 38px 0;
  //         p {
  //           margin: 0;
  //         }
  //       }
  //       .main_production__params_nav_menu {
  //         display: flex;
  //         flex-direction: column;
  //         h4 {
  //           font-weight: 600;
  //           font-size: 18px;
  //           line-height: 23px;
  //           color: #333333;
  //           margin: 0 0 22px 0;
  //         }
  //         a {
  //           font-size: 16px;
  //           line-height: 19px;
  //           text-decoration-line: underline;

  //           color: #da5c3e;
  //           margin: 0 0 20px 0;
  //         }
  //       }
  //     }
  //   }
  // }

  // .main_layout {
  //   position: relative;
  //   &::before {
  //     position: absolute;
  //     content: url("../../assets/spruce.png");
  //     top: -21%;
  //     right: 0;
  //   }
  //   .main_layout__title {
  //     font-weight: 600;
  //     font-size: 36px;
  //     line-height: 45px;
  //     color: #333333;
  //     margin: 0 auto 52px 90px;
  //   }
  //   .main_layout__image_block {
  //     display: grid;
  //     grid-template-columns: repeat(2, 525px);
  //     column-gap: 74px;
  //     margin: auto 121px auto 92px;
  //     list-style: none;
  //     padding: 0;
  //     .main_layout__image_title {
  //       font-size: 16px;
  //       line-height: 20px;
  //       font-weight: 400;
  //       color: #333333;
  //       margin: 0 auto 29px 0;
  //     }
  //     .main_layout__image_description {
  //       font-size: 16px;
  //       line-height: 19px;
  //       color: #4f4f4f;
  //       width: 498px;
  //       margin: 29px 0 31px 0;
  //     }

  //     .main_layout__image_bottom_block {
  //       display: flex;
  //       align-items: center;
  //       margin: 0 auto 73px 0;
  //       .main_layout__image_price_block {
  //         font-size: 16px;
  //         line-height: 19px;
  //         color: #333333;
  //         display: flex;
  //         flex-direction: column;
  //         .main_layout__image_price {
  //           font-weight: 600;
  //           margin: 0 0 3px 0;
  //           span {
  //             font-weight: 400;
  //           }
  //         }
  //         .main_layout__image_turnkey {
  //           font-size: 13px;
  //           line-height: 16px;
  //           color: #da5c3e;
  //         }
  //       }
  //       .main_layout__image_ask {
  //         position: relative;
  //         margin-left: 110px;
  //         a {
  //           font-size: 18px;
  //           line-height: 22px;
  //           text-decoration-line: underline;
  //           color: #da5c3e;
  //         }
  //         &::before {
  //           position: absolute;
  //           content: url("../../assets/questionmark.svg");
  //           left: -48px;
  //           top: -5px;
  //         }
  //       }
  //       .main_layout__image_getcost {
  //         margin-left: 47px;
  //         @extend .main_layout__image_ask;
  //         a {
  //           font-size: 18px;
  //           line-height: 22px;
  //           text-decoration-line: underline;
  //           color: #da5c3e;
  //         }
  //         &::before {
  //           content: url("../../assets/tag.svg");
  //         }
  //       }
  //     }
  //   }
  //   .main_layout__discussion {
  //     font-size: 24px;
  //     line-height: 29px;
  //     color: #333333;
  //     width: 758px;
  //     margin: 0 auto 33px 91px;
  //   }
  //   .main_layout__extra {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     width: 870px;
  //     height: 114px;
  //     margin: 0 auto 60px 91px;
  //     p {
  //       font-size: 16px;
  //       line-height: 19px;
  //       color: #4f4f4f;
  //       margin: 0;
  //     }
  //   }
  //   .main_layout__link_block {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     width: 242px;
  //     height: 70px;
  //     margin-left: 190px;
  //     a {
  //       font-weight: 600;
  //       font-size: 13px;
  //       line-height: 16px;
  //       color: #828282;
  //       text-decoration: none;
  //       &:last-child:not(:only-child) {
  //         font-weight: 400;
  //         font-size: 18px;
  //         line-height: 22px;
  //         text-decoration-line: underline;
  //         color: #da5c3e;
  //         position: relative;
  //         &::before {
  //           position: absolute;
  //           content: url("../../assets/arrow-layout.svg");
  //           top: 0;
  //           left: -100px;
  //         }
  //       }
  //     }
  //   }
  // }

  // .main_slider {
  //   .main_slider__title {
  //     font-weight: 600;
  //     font-size: 36px;
  //     line-height: 45px;
  //     color: #333333;
  //     margin: 66px auto 76px 90px;
  //     width: 500px;
  //   }
  //   .main_slider__image_block {
  //     margin: 0;
  //     display: grid;
  //     grid-template-columns: repeat(3, auto);
  //     column-gap: 40px;
  //     list-style: none;
  //     padding: 0;
  //     position: relative;
  //     .main_slider__image_item {
  //       opacity: 0.3;
  //       transition: opacity ease-in-out 0.4s;
  //       object-fit: cover;
  //     }
  //     .main_slider__image_item_active {
  //       @extend .main_slider__image_item;
  //       opacity: 1;
  //     }
  //     .main_slider__image_arrow_prev {
  //       position: absolute;
  //       top: 45%;
  //       left: 140px;
  //       cursor: pointer;
  //       &:active {
  //         transform: translateY(2px);
  //       }
  //     }
  //     .main_slider__image_arrow_next {
  //       position: absolute;
  //       top: 45%;
  //       right: 140px;
  //       cursor: pointer;
  //       transform: rotate(180deg);
  //       &:active {
  //         transform: translateY(2px);
  //       }
  //     }
  //   }
  //   .main__slider_orderedlist {
  //     display: flex;
  //     flex-direction: column;
  //     flex-wrap: wrap;
  //     height: 580px;
  //     width: 601px;
  //     margin: 75px 7px 49px 90px;
  //     list-style-type: decimal-leading-zero;
  //     list-style-position: inside;
  //     // margin: 0;
  //     padding: 0;
  //     &_item {
  //       font-size: 16px;
  //       line-height: 20px;
  //       margin-bottom: 20px;
  //       margin-right: 83px;
  //       color: #4f4f4f;
  //       &::marker {
  //         font-weight: 600;
  //       }
  //     }
  //   }
  // }

  // .main_invitation__block {
  //   margin: 0;
  //   background: #333333;
  //   height: 238px;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   .main_invitation__title {
  //     margin: 0 0 0 90px;
  //     font-weight: 400;
  //     font-size: 21px;
  //     line-height: 25px;
  //     width: 360px;
  //     color: #f2f2f2;
  //   }
  //   .main_invitation__button_block {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     margin: 0 auto 0 242px;
  //     width: 469px;
  //     font-family: "Futura New";
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 18px;
  //     line-height: 22px;

  //     a {
  //       text-decoration: none;
  //       position: relative;
  //       font-size: 18px;
  //       line-height: 22px;
  //       color: #fff9e2;
  //       &::before {
  //         position: absolute;
  //         content: url("../../assets/questionmark.svg");
  //         left: -45px;
  //         top: -5px;
  //       }
  //       &:hover {
  //         text-decoration: underline;
  //       }
  //       &:first-child:not(:only-child) {
  //         padding: 23px 48px 23px 78px;
  //         color: #fff9e2;
  //         background: #da5c3e;
  //         border-radius: 10px;
  //         box-shadow: 0 5px #b44d35;
  //         &::before {
  //           content: url("../../assets/checkmark.svg");
  //           left: 15%;
  //           top: 37%;
  //         }
  //         &:hover {
  //           text-decoration: none;
  //         }
  //         &:active {
  //           transform: translateY(2px);
  //         }
  //       }
  //     }
  //   }
  // }
  // .main_extra {
  //   @extend .main_production;
  //   .main_production__title {
  //     margin-bottom: 63px;
  //     &::before {
  //       display: none;
  //     }
  //   }
  //   .main_production__image_block {
  //     grid-template-columns: repeat(4, 260px);
  //     // grid-template-rows: repeat(3, 370px);
  //     column-gap: 42px;
  //     row-gap: 63px;
  //     margin-right: 90px;
  //     margin-bottom: 79px;
  //     li {
  //       width: fit-content;
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: flex-start;
  //       // .main_production__image {
  //       //   position: relative;
  //       // }
  //       .main_production__image_title {
  //         margin: 25px auto 15px 0;
  //         font-size: 16px;
  //         line-height: 20px;
  //         text-decoration: none;
  //       }
  //       .main_production__image_description {
  //         font-size: 16px;
  //         line-height: 19px;
  //         margin: 0 0 23px;
  //         height: fit-content;
  //       }
  //       .main_production__image_price {
  //         font-size: 16px;
  //         line-height: 20px;
  //         margin: 0;
  //         &::after {
  //           display: none;
  //         }
  //       }
  //     }
  //   }
  //   .main_extra__text {
  //     font-size: 24px;
  //     line-height: 29px;
  //     width: 759px;
  //     margin: 0 90px;
  //     color: #333333;
  //   }
  // }
}
