@import "../../vars";
.main {
  width: 1340px;
  margin: auto;
  font-family: $font;
  font-style: $fontStyle;
  position: relative;

  .main_top__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #828282;
    margin: 15px auto 8px 90px;
  }
  //   .main_title {
  //     width: 661px;
  //     font-weight: 600;
  //     font-size: 36px;
  //     line-height: 45px;
  //     color: #333333;
  //     margin: 0 auto 39px 90px;
  //     position: relative;
  //     &::before {
  //       position: absolute;
  //       left: -90px;
  //       top: 50%;
  //       content: "";
  //       width: 63px;
  //       height: 3px;
  //       background: #da5c3e;
  //     }
  //   }
  .main_production {
    .main_production__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      color: #333333;
      margin: 0 auto 57px 90px;
      width: 438px;
      position: relative;
      &::before {
        position: absolute;
        left: -90px;
        bottom: -85%;
        content: "";
        width: 23px;
        height: 251px;
        background: #da5c3e;
      }
    }

    .main_production__image_block {
      display: grid;
      grid-template-columns: repeat(3, 360px);
      column-gap: 40px;
      margin: auto 121px auto 92px;
      list-style: none;
      padding: 0;
      .main_production__image {
        position: relative;
        img {
          width: 100%;
        }
      }

      .main_production__image_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        text-decoration-line: underline;
        color: #333333;
        margin: 32px auto 0;
      }
      .main_production__image_description {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4f4f4f;
        margin: 11px auto 21px 0;
        width: 100%;
        height: 54px;
      }
      .main_production__image_price {
        margin: 0 auto 82px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        position: relative;
        &::after {
          position: absolute;
          content: url("../../assets/price-arrow.svg");
          left: 30%;
          top: 0;
        }
      }
    }
  }
  .main_classic {
    @extend .main_production;
    .main_production__title {
      &::before {
        top: 50%;
        width: 63px;
        height: 3px;
      }
    }
    .main_production__image_block {
      grid-template-columns: auto auto;
      column-gap: 73px;
      li {
        width: fit-content;
        .main_production__image {
          position: relative;
        }
        .main_production__image_description {
          height: auto;
        }
        .main_production__image_price {
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #da5c3e;
          }
        }
      }
    }
  }

  .main_invitation__block {
    margin: 0;
    background: #333333;
    height: 238px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .main_invitation__title {
      margin: 0 0 0 90px;
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
      width: 360px;
      color: #f2f2f2;
    }
    .main_invitation__button_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 0 141px;
      width: 565px;
      font-family: "Futura New";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;

      a {
        text-decoration: none;
        position: relative;
        font-size: 18px;
        line-height: 22px;
        color: #fff9e2;
        &::before {
          position: absolute;
          content: url("../../assets/saw.svg");
          left: -45px;
          top: -5px;
        }
        &:hover {
          text-decoration: underline;
        }
        &:first-child:not(:only-child) {
          padding: 23px 48px 23px 78px;
          color: #fff9e2;
          background: #da5c3e;
          border-radius: 10px;
          box-shadow: 0 5px #b44d35;
          &::before {
            content: url("../../assets/call.svg");
            left: 15%;
            top: 37%;
          }
          &:hover {
            text-decoration: none;
          }
          &:active {
            transform: translateY(2px);
          }
        }
      }
    }
  }
}
