.main_invitation__block {
  margin: 0 0 69px 0;
  //   background: #333333;
  background: #fff9e2;
  height: 238px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .main_invitation__title {
    margin: 0 0 0 90px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    width: 360px;
    // color: #f2f2f2;
    color: #333333;
  }
  .main_invitation__button_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 242px;
    width: 469px;
    font-family: "Futura New";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    a {
      text-decoration: none;
      position: relative;
      font-size: 18px;
      line-height: 22px;
      //   color: #fff9e2;
      color: #da5c3e;
      &::before {
        position: absolute;
        content: url("../../../assets/questionmark.svg");
        left: -45px;
        top: -5px;
      }
      &:hover {
        text-decoration: underline;
      }
      //   &:first-child:not(:only-child) {
      //     padding: 23px 48px 23px 78px;
      //     color: #fff9e2;
      //     background: #da5c3e;
      //     border-radius: 10px;
      //     box-shadow: 0 5px #b44d35;
      //     &::before {
      //       content: url("../../../assets/checkmark.svg");
      //       left: 15%;
      //       top: 37%;
      //     }
      //     &:hover {
      //       text-decoration: none;
      //     }
      //     &:active {
      //       transform: translateY(2px);
      //     }
      //   }
    }
  }
}

.main_invitation__block_dark_theme {
  @extend .main_invitation__block;
  background: #333333;
  margin-bottom: 80px;
  .main_invitation__title {
    color: #f2f2f2;
  }
  .main_invitation__button_block {
    width: 565px;
    margin-left: 141px;
    a {
      color: #fff9e2;
      &::before {
        content: url("../../../assets/saw.svg");
      }
      //   &:first-child:not(:only-child) {
      //     &::before {
      //       content: url("../../../assets/telephone-red.svg");
      //       left: 0;
      //       top: 37%;
      //     }
      //   }
    }
  }
}
