.button_red__theme {
  position: relative;
  padding-left: 25px;
  width: 300px;
  height: 68px;
  color: #fff9e2;
  font-size: 18px;
  line-height: 22px;
  background: #da5c3e;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0 5px #b44d35;
  text-decoration: none;
  &::before {
    position: absolute;
    content: url("../../assets/call.svg");
    left: 15%;
    top: 35%;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    transform: translateY(2px);
  }
}

.button_red__theme_order {
  @extend .button_red__theme;
  width: 247px;
  &::before {
    content: url("../../assets/checkmark.svg");
  }
}

.main_blog__pagination_button {
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  &:first-child:not(:only-child) {
    transform: rotate(180deg);
  }
  &:active {
    transform: translateY(1px);
  }
}

.main_blog__pagination_button_disabled {
  @extend .main_blog__pagination_button;
  img {
    opacity: 0.4;
  }
}

.main_blog__pagination_loadmore {
  margin: 91px 0 0 0;
  background: #f2f2f2;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #da5c3e;
  border: none;
  outline: none;
  text-decoration: none;
  width: 100%;
  padding: 23px 0 22px;
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: url("../../assets/arrow-loadmore.svg");
    top: 39%;
    left: 44%;
  }
  &:active {
    transform: translateY(1px);
  }
}

.main_location__pagination_loadmore {
  @extend .main_blog__pagination_loadmore;
  margin: 58px 90px 98px;
  width: 1160px;
}

.button_red__theme_visit_production {
  @extend .button_red__theme;
  color: #ddd8c1;
  padding-left: 43px;
  margin-top: 8px;
  &::before {
    content: url("../../assets/saw.svg");
    left: 33px;
    top: 27%;
  }
}

.main_location__map_button {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  left: 606px;
  top: 294px;
  cursor: pointer;
  &:nth-child(2):not(:only-child) {
    left: 34%;
    top: 46%;
  }
  &:nth-child(3):not(:only-child) {
    bottom: -10%;
    left: 767px;
  }
  &:last-child:not(:only-child) {
    left: 680px;
    top: 50%;
  }
}
